<section>
  <div
    class="items-center px-8 pb-12 mx-auto max-w-7xl md:px-12 lg:pb-24 pt-36">
    <div class="max-w-3xl">
      <h1 class="text-3xl md:text-5xl tracking-tighter font-medium text-black">
        IPHONE 14 PRO MAX
      </h1>
    </div>

    <div class="mx-auto mt-12">
      <div
        class="lg:gap-x-8 lg:gap-y-10 lg:grid lg:grid-cols-7 lg:grid-rows-1 xl:gap-x-16">
        <div class="lg:col-span-4 lg:row-end-1 space-y-3">
          <div class="aspect-h-3 aspect-w-4 overflow-hidden">
            <img
              alt="#"
              class="object-center object-cover rounded-xl"
              src="https://images.unsplash.com/photo-1510878933023-e2e2e3942fb0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80"
            />
          </div>
          <div class="hidden aspect-h-3 aspect-w-4 lg:block overflow-hidden">
            <img
              alt="#"
              class="object-center object-cover rounded-xl"
              src="https://images.unsplash.com/photo-1550029402-226115b7c579?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1065&q=80"
            />
          </div>
        </div>
        <div
          class="mx-auto lg:col-span-3 lg:max-w-none lg:mt-0 lg:row-end-2 lg:row-span-2 max-w-2xl mt-14 sm:mt-16">
          <p class="text-gray-600">
            According to history textbooks, the technique behind forging
            Damascus Steel has been lost to time. Lucky for you, we don't read
            history textbooks. Turns out, recreating Damascus Steel is
            exceedingly simple. You take a Damascus pattern, run it through a
            $99,000 printer, and boom: you've got Damascus. It's kind of like
            baking a cake, except the flour costs more than your college
            tuition.
          </p>
          <div class="mt-10 gap-2 grid grid-cols-1 sm:grid-cols-2">
            <a
              href="/store/checkout"
              class="items-center text-sm active:bg-gray-100 active:text-black/60 active:transition-none border font-medium gap-2 inline-flex justify-center outline-offset-2 px-6 py-3 transition w-full lg:w-auto rounded-lg bg-black border-white/20 hover:bg-gray-600 text-white"
              >Add to cart
            </a><a
              href="/system/overview"
              class="items-center text-sm active:bg-gray-100 active:text-black/60 active:transition-none border font-medium gap-2 inline-flex justify-center outline-offset-2 px-6 py-3 transition w-full bg-white hover:bg-gray-50 text-black lg:w-auto rounded-lg"
              >See all pages
            </a>
          </div>
          <div class="border-t mt-10 pt-10">
            <h3 class="text-base font-semibold text-black">Highlights</h3><div
              class="text-gray-600 mt-4 prose prose-sm">
              <ul role="list">
                <li>200+ Mockups in 3 unique styles</li><li>
                  Compatible with Figma, Sketch, and Adobe XD
                </li>
              </ul>
            </div>
          </div>
          <div class="border-t mt-10 pt-10">
            <h3 class="text-base font-semibold text-black">License</h3><p
              class="text-sm text-gray-600 mt-4">
              This license states that you are allowed to use these icons for
              your own personal and professional purposes, but you cannot sell
              or give them away to others in their original or altered form. It
              is important to read the entire license agreement for further
              details.
            </p>
          </div>
          <dl class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-8">
            <div
              class="border p-6 rounded-lg hover:shadow-2xl duration-200 bg-gray-50">
              <dt>
                <span class="text-sm font-semibold text-black">THIN</span>
              </dt><dd class="text-gray-600 mt-1 text-sm">
                Let's play a game. Assuming you're not bald, reach up and rip
                out exactly two pieces of hair.
              </dd>
            </div>
            <div
              class="border p-6 rounded-lg hover:shadow-2xl duration-200 bg-gray-50">
              <dt>
                <span class="text-sm font-semibold text-black">PRECISE</span>
              </dt><dd class="text-gray-600 mt-1 text-sm">
                Every dbrand iPhone 14 Pro Max skin is lovingly hand-crafted by
                one of the industrial-grade cutting machines that you see here.
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
