<section>
  <div
    class="items-center px-8 pb-12 mx-auto max-w-7xl md:px-12 lg:pb-24 pt-36">
    <div class="max-w-3xl">
      <p class="text-3xl md:text-5xl tracking-tighter font-medium text-black">
        SuperStore, your next ecommerce <span class="md:block text-gray-600"
          >theme for all your products.</span
        >
      </p>
      <p class="mt-4 text-lg text-gray-600">
        If you could kick the person in the pants responsible for most of your
        trouble, you wouldn't sit for a month
      </p>
      <div class="flex flex-wrap gap-2 mt-6">
        <a
          href="/system/overview"
          class="items-center text-sm active:bg-gray-100 active:text-gray-900/60 active:transition-none border font-medium gap-2 inline-flex justify-center outline-offset-2 px-6 py-3 transition w-full lg:w-auto rounded-lg bg-black border-white/20 hover:bg-gray-600 text-white"
          >See all pages
        </a><a
          href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/eeabd0af-0234-4610-9fb3-7427486d89f0"
          class="items-center text-sm active:bg-gray-100 active:text-gray-900/60 active:transition-none border font-medium gap-2 inline-flex justify-center outline-offset-2 px-6 py-3 transition w-full bg-white hover:bg-gray-50 text-black lg:w-auto rounded-lg"
          >Buy SuperStore
        </a>
      </div>
    </div>
  </div>
</section>
