<section>
  <div
    class="items-center px-8 pb-12 mx-auto max-w-7xl md:px-12 lg:pb-24 pt-36">
    <div class="max-w-3xl">
      <p class="text-3xl md:text-5xl tracking-tighter font-medium text-black">
        About our products
      </p>
      <p class="mt-4 text-lg text-gray-600">
        Our team is driven by a shared passion to provide our valued customers
        with extraordinary products and unforgettable experiences. We are
        devoted to maintaining the highest standards of quality and innovation.
        Every item in our carefully curated collection is handpicked to meet our
        rigorous criteria, guaranteeing excellence in every aspect.
      </p>
    </div>
  </div>
</section>
<section>
  <div class="px-8 py-12 mx-auto max-w-7xl md:px-12">
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-2 gap-y-12 lg:gap-y-24">
      <div class="relative border rounded-xl overflow-hidden">
        <div class="aspect-h-3 aspect-w-4 overflow-hidden bg-gray-100">
          <img
            src="https://images.unsplash.com/photo-1510878933023-e2e2e3942fb0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80"
            alt="#"
            class="object-cover object-center"
          />
        </div>
      </div>
      <div class="relative border rounded-xl overflow-hidden">
        <div class="aspect-h-3 aspect-w-4 overflow-hidden bg-gray-100">
          <img
            src="https://cdn.dribbble.com/users/4476902/screenshots/15234197/media/7f5b17136179637f185ddf4ea4e4eff0.png?compress=1&resize=1600x1200&vertical=center"
            alt="#"
            class="object-cover object-center"
          />
        </div>
      </div>
      <div class="relative border rounded-xl overflow-hidden">
        <div class="aspect-h-3 aspect-w-4 overflow-hidden bg-gray-100">
          <img
            src="https://cdn.dribbble.com/users/62525/screenshots/18281264/media/f88fcb06b6763d9942b1f633a24133d5.png?compress=1&resize=1600x1200&vertical=center"
            alt="#"
            class="object-cover object-center"
          />
        </div>
      </div>
      <div class="relative border rounded-xl overflow-hidden">
        <div class="aspect-h-3 aspect-w-4 overflow-hidden bg-gray-100">
          <img
            src="https://cdn.dribbble.com/users/161873/screenshots/17526601/media/ab4f5b5222e310966bfd4cf0187b38ef.jpg?compress=1&resize=1600x1200&vertical=center"
            alt="#"
            class="object-cover object-center"
          />
        </div>
      </div>
    </div>
    <div class="mt-12">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <dl
          class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-5">
          <div class="mx-auto flex flex-col gap-y-4">
            <dt class="text-base leading-7 text-gray-600">March 1985</dt>
            <dd
              class="order-first text-3xl tracking-tighter font-medium text-black">
              Founded on
            </dd>
          </div>
          <div class="mx-auto flex flex-col gap-y-4">
            <dt class="text-base leading-7 text-gray-600">Wallpapers</dt>
            <dd
              class="order-first text-3xl tracking-tighter font-medium text-black">
              300+
            </dd>
          </div>
          <div class="mx-auto flex flex-col gap-y-4">
            <dt class="text-base leading-7 text-gray-600">All in the market</dt>
            <dd
              class="order-first text-3xl tracking-tighter font-medium text-black">
              Brands
            </dd>
          </div>
          <div class="mx-auto flex flex-col gap-y-4">
            <dt class="text-base leading-7 text-gray-600">Happy customers</dt>
            <dd
              class="order-first text-3xl tracking-tighter font-medium text-black">
              20k+
            </dd>
          </div>
          <div class="mx-auto flex flex-col gap-y-4">
            <dt class="text-base leading-7 text-gray-600">Products</dt>
            <dd
              class="order-first text-3xl tracking-tighter font-medium text-black">
              32k+
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="px-8 py-12 mx-auto max-w-7xl md:px-12">
    <div class="bg-black p-8 lg:p-10 lg:pt-36 xl:pt-64 rounded-3xl">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-6 items-end">
        <div class="md:col-span-3">
          <p class="text-2xl text-white tracking-tight lg:text-4xl">
            Our dedication lies in creating products of <span
              class="lg:block text-gray-400"
              >superior quality, with a focus on the needs and experiences of
              people.</span
            >
          </p>
        </div>
        <div class="md:ml-auto">
          <a
            href="/system/overview"
            class="items-center text-sm group active:bg-gray-100 active:text-gray-900/60 active:transition-none border font-medium gap-2 inline-flex justify-center outline-offset-2 px-6 py-3 transition w-full bg-white hover:bg-gray-50 text-black lg:w-auto rounded-lg"
            >&rarr;
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="px-8 py-12 mx-auto max-w-7xl md:px-12">
    <div class="max-w-3xl">
      <p class="text-3xl md:text-5xl tracking-tighter font-medium text-black">
        Our Values
      </p>
      <p class="mt-4 text-lg text-gray-600">
        We highly regard innovation and constantly strive to surpass limits,
        offering products that ignite inspiration and bring joy. Join us in
        embracing these principles and contribute to our mission of creating a
        meaningful impact in the world.
      </p>
    </div>
    <div class="mt-12 lg:mt-24 grid grid-cols-1 lg:grid-cols-3 gap-2">
      <div class="border p-6 rounded-xl bg-gray-50 h-full">
        <dt class="inline-flex items-center gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-ballpen-filled"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M17.828 2a3 3 0 0 1 1.977 .743l.145 .136l1.171 1.17a3 3 0 0 1 .136 4.1l-.136 .144l-1.706 1.707l2.292 2.293a1 1 0 0 1 .083 1.32l-.083 .094l-4 4a1 1 0 0 1 -1.497 -1.32l.083 -.094l3.292 -3.293l-1.586 -1.585l-7.464 7.464a3.828 3.828 0 0 1 -2.474 1.114l-.233 .008c-.674 0 -1.33 -.178 -1.905 -.508l-1.216 1.214a1 1 0 0 1 -1.497 -1.32l.083 -.094l1.214 -1.216a3.828 3.828 0 0 1 .454 -4.442l.16 -.17l10.586 -10.586a3 3 0 0 1 1.923 -.873l.198 -.006zm0 2a1 1 0 0 0 -.608 .206l-.099 .087l-1.707 1.707l2.586 2.585l1.707 -1.706a1 1 0 0 0 .284 -.576l.01 -.131a1 1 0 0 0 -.207 -.609l-.087 -.099l-1.171 -1.171a1 1 0 0 0 -.708 -.293z"
              stroke-width="0"
              fill="currentColor"></path>
          </svg>
          <span class="text-base font-semibold text-black">Design</span>
        </dt><dd class="text-gray-600 mt-1 text-sm">
          We firmly believe in the influence of deliberate design, crafting
          products that seamlessly blend aesthetics and functionality.
        </dd>
      </div>
      <div class="border p-6 rounded-xl bg-gray-50 h-full">
        <dt class="inline-flex items-center gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-medal-2"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 3h6l3 7l-6 2l-6 -2z"></path>
            <path d="M12 12l-3 -9"></path>
            <path d="M15 11l-3 -8"></path>
            <path
              d="M12 19.5l-3 1.5l.5 -3.5l-2 -2l3 -.5l1.5 -3l1.5 3l3 .5l-2 2l.5 3.5z"
            ></path>
          </svg>
          <span class="text-base font-semibold text-black">Quality</span>
        </dt><dd class="text-gray-600 mt-1 text-sm">
          Excellence is our utmost priority, evident in every aspect of our
          work. From meticulous material selection to precise manufacturing
          processes, we uphold the highest standards of quality.
        </dd>
      </div>
      <div class="border p-6 rounded-xl bg-gray-50 h-full">
        <dt class="inline-flex items-center gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-juejin"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M2 12l10 7.422l10 -7.422"></path>
            <path d="M7 9l5 4l5 -4"></path>
            <path d="M11 6l1 .8l1 -.8l-1 -.8z"></path>
          </svg>
          <span class="text-base font-semibold text-black">Innovation</span>
        </dt><dd class="text-gray-600 mt-1 text-sm">
          We nurture a culture that thrives on innovation, continuously
          challenging boundaries and embracing emerging technologies.
        </dd>
      </div>
    </div>
    <div class="mt-12 grid lg:grid-cols-2 grid-cols-1 gap-4">
      <p class="text-xl tracking-tighter font-medium text-black">
        Dedication and passion in crafting superior designs
      </p>
      <p class="text-base text-gray-600">
        Our belief extends beyond aesthetics, recognizing that remarkable design
        encompasses functionality, user experience, and meticulous attention to
        detail. With profound care and an unyielding commitment to excellence,
        our team of skilled designers and engineers create products that are
        visually captivating and intuitively user-friendly.
      </p>
    </div>
  </div>
</section>
