<section>
  <div
    class="items-center px-8 pb-12 mx-auto max-w-7xl md:px-12 lg:pb-24 pt-36">
    <div class="max-w-3xl mx-auto">
      <p class="text-3xl md:text-5xl tracking-tighter font-medium text-black">
        Payments
      </p>
    </div>
    <ul
      class="mt-12 lg:mt-24 pt-12 grid grid-cols-1 gap-12 max-w-3xl mx-auto"
      role="list">
      <li>
        <div>
          <p class="text-black font-medium lg:text-xl text-lg">Payments</p>
        </div><div class="mt-2 text-base">
          <ul class="divide-y">
            <li class="py-3">
              <a
                class="text-gray-600 hover:text-black inline-flex justify-between w-full duration-200 items-center gap-3"
                href="/helpcenter/details"
                >Exploring ways to access valuable admin insights <span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-arrow-right"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18"></path>
                    <path d="M16 12l-4 -4"></path>
                    <path d="M16 12h-8"></path>
                    <path d="M12 16l4 -4"></path>
                  </svg></span
                ></a
              >
            </li>
            <li class="py-3">
              <a
                class="text-gray-600 hover:text-black inline-flex justify-between w-full duration-200 items-center gap-3"
                href="/helpcenter/details"
                >Inviting Creator Lite members to join your Business account <span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-arrow-right"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18"></path>
                    <path d="M16 12l-4 -4"></path>
                    <path d="M16 12h-8"></path>
                    <path d="M12 16l4 -4"></path>
                  </svg></span
                ></a
              >
            </li>
            <li class="py-3">
              <a
                class="text-gray-600 hover:text-black inline-flex justify-between w-full duration-200 items-center gap-3"
                href="/helpcenter/details"
                >Simplifying the process for your team to join your Workspace <span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-arrow-right"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18"></path>
                    <path d="M16 12l-4 -4"></path>
                    <path d="M16 12h-8"></path>
                    <path d="M12 16l4 -4"></path>
                  </svg></span
                ></a
              >
            </li>
            <li class="py-3">
              <a
                class="text-gray-600 hover:text-black inline-flex justify-between w-full duration-200 items-center gap-3"
                href="/helpcenter/details"
                >Understanding the utilization of 's privacy settings <span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-arrow-right"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18"></path>
                    <path d="M16 12l-4 -4"></path>
                    <path d="M16 12h-8"></path>
                    <path d="M12 16l4 -4"></path>
                  </svg></span
                ></a
              >
            </li>
            <li class="py-3">
              <a
                class="text-gray-600 hover:text-black inline-flex justify-between w-full duration-200 items-center gap-3"
                href="/helpcenter/details"
                >Transferring Admins effectively after an Admin departs from
                your organization <span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-arrow-right"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18"></path>
                    <path d="M16 12l-4 -4"></path>
                    <path d="M16 12h-8"></path>
                    <path d="M12 16l4 -4"></path>
                  </svg></span
                ></a
              >
            </li>
          </ul>
        </div>
      </li><li>
        <div>
          <p class="text-black font-medium lg:text-xl text-lg">Account</p>
        </div><div class="mt-2 text-base">
          <ul class="divide-y">
            <li class="py-3">
              <a
                class="text-gray-600 hover:text-black inline-flex justify-between w-full duration-200 items-center gap-3"
                href="/helpcenter/details"
                >Guidelines for updating your account email <span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-arrow-right"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18"></path>
                    <path d="M16 12l-4 -4"></path>
                    <path d="M16 12h-8"></path>
                    <path d="M12 16l4 -4"></path>
                  </svg></span
                ></a
              >
            </li>
            <li class="py-3">
              <a
                class="text-gray-600 hover:text-black inline-flex justify-between w-full duration-200 items-center gap-3"
                href="/helpcenter/details"
                >Steps to exit a Workspace <span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-arrow-right"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18"></path>
                    <path d="M16 12l-4 -4"></path>
                    <path d="M16 12h-8"></path>
                    <path d="M12 16l4 -4"></path>
                  </svg></span
                ></a
              >
            </li>
            <li class="py-3">
              <a
                class="text-gray-600 hover:text-black inline-flex justify-between w-full duration-200 items-center gap-3"
                href="/helpcenter/details"
                >Instructions for deleting your account <span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-arrow-right"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18"></path>
                    <path d="M16 12l-4 -4"></path>
                    <path d="M16 12h-8"></path>
                    <path d="M12 16l4 -4"></path>
                  </svg></span
                ></a
              >
            </li>
            <li class="py-3">
              <a
                class="text-gray-600 hover:text-black inline-flex justify-between w-full duration-200 items-center gap-3"
                href="/helpcenter/details"
                >Tips for modifying your personal account settings <span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-arrow-right"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18"></path>
                    <path d="M16 12l-4 -4"></path>
                    <path d="M16 12h-8"></path>
                    <path d="M12 16l4 -4"></path>
                  </svg></span
                ></a
              >
            </li>
            <li class="py-3">
              <a
                class="text-gray-600 hover:text-black inline-flex justify-between w-full duration-200 items-center gap-3"
                href="/helpcenter/details"
                >Procedure for transferring Admins after an Admin's departure
                from your organization <span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-arrow-right"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18"></path>
                    <path d="M16 12l-4 -4"></path>
                    <path d="M16 12h-8"></path>
                    <path d="M12 16l4 -4"></path>
                  </svg></span
                ></a
              >
            </li>
          </ul>
        </div>
      </li><li>
        <div>
          <p class="text-black font-medium lg:text-xl text-lg">Product</p>
        </div><div class="mt-2 text-base">
          <ul class="divide-y">
            <li class="py-3">
              <a
                class="text-gray-600 hover:text-black inline-flex justify-between w-full duration-200 items-center gap-3"
                href="/helpcenter/details"
                >Understanding the Billing Policy for 's Business Plans <span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-arrow-right"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18"></path>
                    <path d="M16 12l-4 -4"></path>
                    <path d="M16 12h-8"></path>
                    <path d="M12 16l4 -4"></path>
                  </svg></span
                ></a
              >
            </li>
            <li class="py-3">
              <a
                class="text-gray-600 hover:text-black inline-flex justify-between w-full duration-200 items-center gap-3"
                href="/helpcenter/details"
                >Locating Invoices and Updating Billing Information <span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-arrow-right"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18"></path>
                    <path d="M16 12l-4 -4"></path>
                    <path d="M16 12h-8"></path>
                    <path d="M12 16l4 -4"></path>
                  </svg></span
                ></a
              >
            </li>
            <li class="py-3">
              <a
                class="text-gray-600 hover:text-black inline-flex justify-between w-full duration-200 items-center gap-3"
                href="/helpcenter/details"
                >Managing Billing for Your Team <span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-arrow-right"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18"></path>
                    <path d="M16 12l-4 -4"></path>
                    <path d="M16 12h-8"></path>
                    <path d="M12 16l4 -4"></path>
                  </svg></span
                ></a
              >
            </li>
            <li class="py-3">
              <a
                class="text-gray-600 hover:text-black inline-flex justify-between w-full duration-200 items-center gap-3"
                href="/helpcenter/details"
                >Frequently Asked Questions about Billing <span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-arrow-right"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18"></path>
                    <path d="M16 12l-4 -4"></path>
                    <path d="M16 12h-8"></path>
                    <path d="M12 16l4 -4"></path>
                  </svg></span
                ></a
              >
            </li>
            <li class="py-3">
              <a
                class="text-gray-600 hover:text-black inline-flex justify-between w-full duration-200 items-center gap-3"
                href="/helpcenter/details"
                >Steps to Downgrade or Cancel Your Plan <span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-arrow-right"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18"></path>
                    <path d="M16 12l-4 -4"></path>
                    <path d="M16 12h-8"></path>
                    <path d="M12 16l4 -4"></path>
                  </svg></span
                ></a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
