<section>
  <div
    class="items-center px-8 pb-12 mx-auto max-w-7xl md:px-12 lg:pb-24 pt-36">
    <div class="max-w-3xl mx-auto text-center">
      <p class="text-3xl md:text-5xl tracking-tighter font-medium text-black">
        Welcome to our help center, <span class="md:block text-gray-600"
          >How can we help you?</span
        >
      </p>
      <div
        class="flex items-center bg-white max-w-sm mx-auto lg:w-auto mt-6 relative w-full">
        <input
          class="text-black text-sm bg-gray-300/5 block border-gray-200 focus:ring-2 focus:ring-white focus:ring-inset leading-6 placeholder:text-gray-600 px-3.5 py-3 rounded-lg w-full"
          id="search"
          name="search"
          placeholder="Search for anything"
          type="text"
        /><div class="flex absolute inset-y-0 pr-4 py-1.5 right-0">
          <kbd class="items-center inline-flex text-gray-400">⌘K</kbd>
        </div>
      </div>
    </div>
    <div class="mt-12 lg:mt-24 grid grid-cols-1 lg:grid-cols-3 gap-2">
      <a href="/helpcenter/category">
        <div
          class="border p-6 rounded-xl hover:shadow-2xl duration-200 bg-gray-50 h-full">
          <dt class="inline-flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-download"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
              <path d="M7 11l5 5l5 -5"></path>
              <path d="M12 4l0 12"></path>
            </svg>
            <span class="text-base font-semibold text-black">Downloads</span>
          </dt><dd class="text-gray-600 mt-1 text-sm">
            Access exclusive content and resources with our easy-to-use download
            feature
          </dd>
        </div>
      </a>
      <a href="/helpcenter/category">
        <div
          class="border p-6 rounded-xl hover:shadow-2xl duration-200 bg-gray-50 h-full">
          <dt class="inline-flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-credit-card"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M3 5m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z"
              ></path>
              <path d="M3 10l18 0"></path>
              <path d="M7 15l.01 0"></path>
              <path d="M11 15l2 0"></path>
            </svg>
            <span class="text-base font-semibold text-black">Payments</span>
          </dt><dd class="text-gray-600 mt-1 text-sm">
            Secure and seamless payment options for your dbrand iPhone 14 Pro
            Max skin purchase.
          </dd>
        </div>
      </a>
      <a href="/helpcenter/category">
        <div
          class="border p-6 rounded-xl hover:shadow-2xl duration-200 bg-gray-50 h-full">
          <dt class="inline-flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-license"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M15 21h-9a3 3 0 0 1 -3 -3v-1h10v2a2 2 0 0 0 4 0v-14a2 2 0 1 1 2 2h-2m2 -4h-11a3 3 0 0 0 -3 3v11"
              ></path>
              <path d="M9 7l4 0"></path>
              <path d="M9 11l4 0"></path>
            </svg>
            <span class="text-base font-semibold text-black">License</span>
          </dt><dd class="text-gray-600 mt-1 text-sm">
            Understand the terms and conditions for using our dbrand iPhone 14
            Pro Max skin.
          </dd>
        </div>
      </a>
      <a href="/helpcenter/category">
        <div
          class="border p-6 rounded-xl hover:shadow-2xl duration-200 bg-gray-50 h-full">
          <dt class="inline-flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-assembly"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z"
              ></path>
              <path
                d="M15.5 9.422c.312 .18 .503 .515 .5 .876v3.277c0 .364 -.197 .7 -.515 .877l-3 1.922a1 1 0 0 1 -.97 0l-3 -1.922a1 1 0 0 1 -.515 -.876v-3.278c0 -.364 .197 -.7 .514 -.877l3 -1.79c.311 -.174 .69 -.174 1 0l3 1.79h-.014z"
              ></path>
            </svg>
            <span class="text-base font-semibold text-black">Product</span>
          </dt><dd class="text-gray-600 mt-1 text-sm">
            Explore the exceptional quality and craftsmanship of our dbrand
            iPhone 14 Pro Max skins.
          </dd>
        </div>
      </a>
      <a href="/helpcenter/category">
        <div
          class="border p-6 rounded-xl hover:shadow-2xl duration-200 bg-gray-50 h-full">
          <dt class="inline-flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-user"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
              <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
            </svg>
            <span class="text-base font-semibold text-black">Account</span>
          </dt><dd class="text-gray-600 mt-1 text-sm">
            Manage your personal information and settings for a tailored dbrand
            experience.
          </dd>
        </div>
      </a>
      <a href="/helpcenter/category">
        <div
          class="border p-6 rounded-xl hover:shadow-2xl duration-200 bg-gray-50 h-full">
          <dt class="inline-flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-affiliate"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M5.931 6.936l1.275 4.249m5.607 5.609l4.251 1.275"></path>
              <path d="M11.683 12.317l5.759 -5.759"></path>
              <path d="M5.5 5.5m-1.5 0a1.5 1.5 0 1 0 3 0a1.5 1.5 0 1 0 -3 0"
              ></path>
              <path d="M18.5 5.5m-1.5 0a1.5 1.5 0 1 0 3 0a1.5 1.5 0 1 0 -3 0"
              ></path>
              <path d="M18.5 18.5m-1.5 0a1.5 1.5 0 1 0 3 0a1.5 1.5 0 1 0 -3 0"
              ></path>
              <path d="M8.5 15.5m-4.5 0a4.5 4.5 0 1 0 9 0a4.5 4.5 0 1 0 -9 0"
              ></path>
            </svg>
            <span class="text-base font-semibold text-black">Affiliates</span>
          </dt><dd class="text-gray-600 mt-1 text-sm">
            Join our affiliate program and earn rewards for promoting dbrand
            iPhone 14 Pro Max skins.
          </dd>
        </div>
      </a>
    </div>
  </div>
</section>
