<main>
  <div
    class="items-center px-8 pb-12 mx-auto max-w-7xl md:px-12 lg:pb-24 pt-36">
    <div class="pb-4 border-b">
      <h1 class="text-3xl md:text-5xl tracking-tighter font-medium text-black">
        Checkout all pages <span class="md:block text-gray-600"
          >included on SuperStore</span
        >
      </h1>
    </div>
    <ol role="list" class="mt-12 grid grid-cols-1 lg:grid-cols-5 gap-6">
      <li>
        <h3 class="text-base font-semibold text-black">Main pages</h3>
        <ol role="list" class="mt-4 tracking-tight space-y-2">
          <li>
            <a class="text-gray-600 hover:text-black" href="/"> Landing one</a>
          </li>
          <li>
            <a
              class="text-gray-600 hover:text-black"
              href="/landings/index-two">
              Store Landing two</a
            >
          </li>
          <li>
            <a
              class="text-gray-600 hover:text-black"
              href="/store/product-details-one">
              Product details one</a
            >
          </li>
          <li>
            <a
              class="text-gray-600 hover:text-black"
              href="/store/product-details-two">
              Product details Two</a
            >
          </li>
           <li>
            <a
              class="text-gray-600 hover:text-black"
              href="/store/checkout">
              Checkout</a
            >
          </li>
        </ol>
        <h3 class="text-base font-semibold text-black mt-12">Pricing</h3>
        <ol role="list" class="mt-4 tracking-tight space-y-2">
          <li>
            <a
              class="text-gray-600 hover:text-black"
              href="/pricing/pricing-tiers">
              Pricing Tiers</a
            >
          </li>
        </ol>
      </li>
      <li>
        <h3 class="text-base font-semibold text-black">Blog</h3>
        <ol role="list" class="mt-4 tracking-tight space-y-2">
          <li>
            <a class="text-gray-600 hover:text-black" href="/blog/blog-one"
              >Blog home one</a
            >
          </li>
          <li>
            <a class="text-gray-600 hover:text-black" href="/blog/blog-two"
              >Blog home two</a
            >
          </li>
          <li>
            <a class="text-gray-600 hover:text-black" href="/posts/1"
              >Blog post</a
            >
          </li>
          <li>
            <a class="text-gray-600 hover:text-black" href="/tags">Tags index</a
            >
          </li>
          <li>
            <a class="text-gray-600 hover:text-black" href="/tags/CSS"
              >Tags category</a
            >
          </li>
        </ol>
      </li>
      <li>
        <h3 class="text-base font-semibold text-black">Utility pages</h3>
        <ol role="list" class="mt-4 tracking-tight space-y-2">
          <li>
            <a class="text-gray-600 hover:text-black" href="/infopages/about">
              About</a
            >
          </li>
          <li>
            <a class="text-gray-600 hover:text-black" href="/infopages/terms">
              Terms of use</a
            >
          </li>
          <li>
            <a class="text-gray-600 hover:text-black" href="/infopages/privacy">
              Privacy policy</a
            >
          </li>
          <li>
            <a class="text-gray-600 hover:text-black" href="/404"> 404</a>
          </li>
        </ol>
      </li>
      <li>
        <h3 class="text-base font-semibold text-black">Help Center</h3>
        <ol role="list" class="mt-4 tracking-tight space-y-2">
          <li>
            <a class="text-gray-600 hover:text-black" href="/helpcenter/home">
              Help center home</a
            >
          </li>
          <li>
            <a
              class="text-gray-600 hover:text-black"
              href="/helpcenter/category">
              Help center category</a
            >
          </li>
          <li>
            <a
              class="text-gray-600 hover:text-black"
              href="/helpcenter/details">
              Help center details</a
            >
          </li>
        </ol>
      </li>
      <li>
        <h3 class="text-base font-semibold text-black">Forms</h3>
        <ol role="list" class="mt-4 tracking-tight space-y-2">
          <li>
            <a class="text-gray-600 hover:text-black" href="/forms/contact">
              Contact</a
            >
          </li>
        </ol>
        <h3 class="text-base font-semibold text-black mt-12">System</h3>
        <ol role="list" class="mt-4 tracking-tight space-y-2">
          <li>
            <a
              class="text-gray-600 hover:text-black"
              href="/system/style-guide">
              Style guide</a
            >
          </li>
        </ol>
      </li>
    </ol>
  </div>
</main>
