<section>
  <div
    class="items-center px-8 pb-12 mx-auto max-w-7xl md:px-12 lg:pb-24 pt-36">
    <div class="pb-4 border-b">
      <h1 class="text-3xl md:text-5xl tracking-tighter font-medium text-black">
        Supersotre style guide
      </h1>
    </div>

    <div class="lg:mt-24 mt-12">
      <div class="pb-5 border-b">
        <p class="text-3xl tracking-tighter font-medium text-black">
          <span class="text-black font-medium">Typography</span>
          /
          <span class="text-gray-500">Inter</span>
        </p>
      </div>

      <div class="mt-12">
        <div>
          <div class="space-y-6 py-3">
            <div class="grid grid-cols-1 items-start lg:grid-cols-2">
              <div><span class="text-black">Header 1</span></div>
              <div>
                <span
                  class="text-3xl md:text-5xl tracking-tighter font-medium text-black"
                  >Header 1</span
                >
              </div>
            </div>
            <div class="grid grid-cols-1 items-start lg:grid-cols-2">
              <div><span class="text-black">Header 2</span></div>
              <div>
                <span class="text-4xl tracking-tighter font-medium text-black"
                  >Header 2</span
                >
              </div>
            </div>
            <div class="grid grid-cols-1 items-start lg:grid-cols-2">
              <div><span class="text-black">Header 3</span></div>
              <div>
                <span class="text-3xl tracking-tighter font-medium text-black"
                  >Header 3</span
                >
              </div>
            </div>

            <div class="grid grid-cols-1 items-start lg:grid-cols-2">
              <div><span class="text-black">Link</span></div>
              <div>
                <span class="text-black text-base hover:text-zinc-600"
                  >Link text</span
                >
              </div>
            </div>
            <div class="grid grid-cols-1 items-start lg:grid-cols-2">
              <div><span class="text-black">Subtitle</span></div>
              <div>
                <span class="text-base font-semibold text-black"
                  >Subtitle text</span
                >
              </div>
            </div>
            <div class="grid grid-cols-1 items-start lg:grid-cols-2">
              <div>
                <span class="text-black">Paragraph</span>
              </div>
              <div>
                <span class="text-sm text-gray-600"
                  >I am so happy, my dear friend, so absorbed in the exquisite
                  sense of mere tranquil existence, that I neglect my talents.</span
                >
              </div>
            </div>
            <div class="grid grid-cols-1 items-start lg:grid-cols-2">
              <div><span class="text-black">Caption</span></div>
              <div>
                <span class="text-black text-xs">Picture about somethign</span>
              </div>
            </div>
            <div class="grid grid-cols-1 items-start lg:grid-cols-2">
              <div><span class="text-black">Code</span></div>
              <div>
                <code class="font-mono">tailwind.config.js</code>
              </div>
            </div>
            <div class="grid grid-cols-1 items-start lg:grid-cols-2">
              <div><span class="text-black">List</span></div>
              <div>
                <ul
                  class="text-gray-600 list-inside space-y-3 list-disc mt-6"
                  role="list">
                  <ul class="prose list-disc mt-3" role="list">
                    <li>Access to premium posts</li>
                    <li>Weekly newsletters</li>
                    <li>Simple, secure card payment</li>
                    <li>No Advertising</li>
                    <li>Special discounts</li>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-12">
        <div class="pb-5 border-b">
          <p class="text-3xl tracking-tighter font-medium text-black">
            Color palette
          </p>
        </div>
      </div>
      <div class="grid gap-2 grid-cols-2 lg:grid-cols-3 mt-12">
        <div class="space-y-2">
          <div class="lg:justify-center p-6 bg-white border rounded-lg"></div>
        </div>
        <div>
          <div class="lg:justify-center p-6 rounded-t-lg bg-blue-50"></div>
          <div class="lg:justify-center p-6 bg-blue-100"></div>
          <div class="lg:justify-center p-6 bg-blue-200"></div>
          <div class="lg:justify-center p-6 bg-blue-300"></div>
          <div class="lg:justify-center p-6 bg-blue-400"></div>
          <div class="lg:justify-center p-6 bg-blue-500"></div>
          <div class="lg:justify-center p-6 bg-blue-600"></div>
          <div class="lg:justify-center p-6 bg-blue-700"></div>
          <div class="lg:justify-center p-6 bg-blue-800"></div>
          <div class="lg:justify-center p-6 bg-blue-900"></div>
          <div class="lg:justify-center p-6 rounded-b-lg bg-blue-950"></div>
        </div>
        <div>
          <div class="lg:justify-center p-6 rounded-t-lg bg-gray-50"></div>
          <div class="lg:justify-center p-6 bg-gray-100"></div>
          <div class="lg:justify-center p-6 bg-gray-200"></div>
          <div class="lg:justify-center p-6 bg-gray-300"></div>
          <div class="lg:justify-center p-6 bg-gray-400"></div>
          <div class="lg:justify-center p-6 bg-gray-500"></div>
          <div class="lg:justify-center p-6 bg-gray-600"></div>
          <div class="lg:justify-center p-6 bg-gray-700"></div>
          <div class="lg:justify-center p-6 bg-gray-800"></div>
          <div class="lg:justify-center p-6 bg-gray-900"></div>
          <div class="lg:justify-center p-6 rounded-b-lg bg-gray-950"></div>
        </div>
      </div>
      <div class="lg:mt-32 mt-12">
        <div class="pb-5 border-b">
          <p class="text-3xl tracking-tighter font-medium text-black">
            Buttons
          </p>
        </div>
        <div class="flex flex-wrap gap-2 mt-6">
          <a
            href="/system/overview"
            class="items-center text-sm active:bg-gray-100 active:text-gray-900/60 active:transition-none border font-medium gap-2 inline-flex justify-center outline-offset-2 px-6 py-3 transition w-full lg:w-auto rounded-lg bg-black border-white/20 hover:bg-gray-600 text-white"
            >See all pages
          </a><a
            href="#"
            class="items-center text-sm active:bg-gray-100 active:text-gray-900/60 active:transition-none border font-medium gap-2 inline-flex justify-center outline-offset-2 px-6 py-3 transition w-full bg-white hover:bg-gray-50 text-black lg:w-auto rounded-lg"
            >Buy SuperStore
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
